body {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

image {
  max-width: 100%;
}

h1 {
  margin: 0;
}

.container {
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  border-style: none;
  padding: 13px 33px;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  transition: opacity 0.3s ease;

  font-style: italic;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* header */

.header {
  background-color: #131313;
  padding: 24px 0 22px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #e3b873;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}

/* Navigation */

.menu {
  display: flex;
  gap: 47px;
}

.menu__item {
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
}

.menu__item:first-child {
  color: #e3b873;
}

.tel {
  color: #e3b873;
  font-size: 11px;
  text-decoration-line: underline;
}

.button__request-a-call {
  font-style: italic;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
}

.button__request-a-call:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Hero section */

.hero {
  background-image: url(/image/hero-background.jpg);
  background-size: cover;
  background-position: center center;
  height: 707px;
  position: relative;
}

.hero__overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero__container {
  max-width: 1171px;
  position: relative;
  z-index: 1;
}

.title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #e3b873;
  margin: 0;
}

.title-hero {
  padding-top: 194px;
}

.title-hero_white {
  display: inline;
  color: #ffffff;
}

.subtitle {
  margin: 19px 0 41px;
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
}

.button__calculate-the-cost {
  padding: 20px 42px;
}

.button__submit-your-application {
  padding: 19px 22px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: inherit;
}

.hero__content-box {
  max-width: 514px;
  display: flex;
  flex-direction: column;
}

.hero__button-box {
  display: flex;
  gap: 20px;
}

.complited-projects {
  background: #131313;
  height: 1074px;
}

.complited-projects__container {
  padding-top: 107px;
  max-width: 1171px;
}

.project-list {
  display: flex;
  gap: 60.5px;
  margin-bottom: 45px;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.project-list__item {
  font-family: "Yeseva One";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

/* Решил реализовать через дополнительный элемент,
 который можно будет накладывать на каждый элемент слайдера */

.sliderLink_active {
  color: #e3b873;
  border-bottom: 1px solid #e3b873;
  padding-bottom: 7px;
}

.complited-projects__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}

.complited-projects__content-holder {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.complited-projects__example-img {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.complited-projects__title {
  max-width: 253px;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
}

.complited-projects__text {
  max-width: 442px;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  margin-top: 34px;
}

.desc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 34px;
  margin-bottom: 80px;
}

.desc-title {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 9px;
}

.desc-options {
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}

.complited-projects__switch-widget {
  display: flex;
  gap: 29px;
}

.switchPoint-wrapper {
  display: flex;
  gap: 17.5px;
  align-items: center;
}

.switchPoint {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  cursor: pointer;
}

.switchPoint_active {
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 30px;
}

.switch-btn {
  display: inline-flex;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.online-control__container {
  margin-top: -324px;
}

.section-title {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.section-title__online-control{
  color: #ffffff;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9.5px;
  margin-top: 12px;
}

.icon-sideline {
  width: 32px;
  border-bottom: 1px solid #e3b873;
  border-radius: 30px;
}

.video-container {
  margin-top: 31px;
  position: relative;
  display: flex;
  justify-content: center;
}

.video-preview {
  position: relative;
}

.video-preview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.sub-video-hr {
  margin-top: 60px;
  margin-bottom: 34px;
  padding: 0;
  border: 1px solid #e3b873;
  max-width: 55px;
  border-radius: 30px;
}

.online-control__text {
  margin: 0 auto;
  max-width: 681px;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  color: #363636;
}

.request-form {
  max-width: 771px;
  margin: 91px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px;
}


.label-caption {
  display: block;
  font-size: 13px;
  color: rgba(54, 54, 54, 0.5);
}

.request-form__input {
  padding: 0;
  border-style: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  width: 231px;
}

.request-form__input::placeholder {
  font-size: 14px;
  line-height: 23px;
  color: #363636;
}

.requst-form-btn {
  padding: 20px 75px 17px;
  font-size: 13px;
  font-style: normal;
}

.checkbox-agree {
  cursor: pointer;
}
.checkbox{
  display: none;
}
.fake{
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #E3B873;
  color: #fff;
  justify-content: center;
}
.fake::before{
  content:url(/image/control/checkbox.svg);
  opacity: 0;
  transition: .2s;
}
.checkbox:checked + .fake::before{
  opacity: 1;
}

.types-repair{
  margin-top: 147px;
}

.section-title__types-repair{
  color: #181818;
}